.hero-image-container {
  width: 100%;
  /* 设置元素的宽度为其父容器的100% */
  height: 400px;
  /* 设置元素的高度为400像素 */
  overflow: hidden;
  /* 隐藏超出元素容器范围的内容 */
}

.hero-image {
  width: 100%;
  /* 设置元素的宽度为其父容器的100% */
  height: 100%;
  /* 设置元素的高度为其父容器的100% */
  object-fit: cover;
  /* 保持图像的宽高比，同时使图像填充其容器。如果图像的宽高比与容器的宽高比不同，图像将被裁剪以适应容器 */
}